a.card-header-icon img {
    padding: 0em;
}

.hero.is-primary {
  background-color: #004369;
}

.hero.is-primary a.title:hover {
  background-color: #004369;
}

.menu-list a.is-active {
  background-color: #004369;
}

.menu-list a:hover {
  color: #85B3CC;
}

.hero.is-primary a.navbar-item.is-active {
  background-color: #004369;
}

a.nav-item.is-tab.is-active, a.nav-item.is-tab:hover {
  border-bottom-color: #85B3CC;
  color: #004369;
}

a, .card-content a h3 {
  color: #85B3CC;
}

kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

p { margin: 0.5em 0; }

h2.cv-category {
  font-size: 125%;
}

h3.cv-year {
  font-size: 120%;
  line-height: 1.5em;
  width: 100px;
  max-width: 100px;
  margin-left: 0em;
  margin-top: 0;
  grid-column: 1;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

h4.pub-year {
  font-size: 120%;
  line-height: 1.5em;
  width: 100px;
  max-width: 100px;
  margin-left: 0em;
  margin-top: 0;
  grid-column: 1;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
section.pub-year {
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-content: space-evenly;
  align-content: space-evenly;
  margin-bottom: 1em;
}
section.cv-year {
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-content: space-evenly;
  align-content: space-evenly;
  margin-bottom: 1em;
}

h2 {
  font-size: 200%;
  margin-bottom: 10px;
}

div.award { margin-bottom: 0.5em; grid-column: 2; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; }
div.paper { margin-bottom: 0.5em; grid-column: 2; display: flex; gap: 5px 10px; justify-content: flex-start; align-items: flex-start; align-content: flex-start; }

/* http://stackoverflow.com/a/19170853/2449192 */
.collapse {
  cursor: pointer;
  display: inline-block;
}
.collapse + input {
  display: none; /* hide the checkboxes */
}
.collapse + input + span.paperdetails {
  display: none;
}
.collapse + input:checked + span.paperdetails {
  display: inline-block;
  background: #f5f5f5;
}

.cv-position { font-weight: bold; }
.cv-duty { margin-left: 1em; display: inline-block; }
.cv-location { font-style: italic; }
.cv-award { margin-left: 1em; display: inline-block; font-weight: bold; }
.grant-title { grid-column: 2; font-style: italic; grid-row-start: 1; grid-row-end: 3 }
.grant-funding { grid-column: 1; grid-row: 2; }
.grant-investigator { grid-column: 1; grid-row: 1; }

.papertitle { font-style: italic; }

.paperdoi { position: relative; padding-left: 20px; display: inline-block; }
.paperdoi::after {
    content: '\e97E';
    font-family: Academicons;
    position: absolute;
    left: 0; /* Adjust as needed */
    top: 0;
}

.paperarxiv { position: relative; padding-left: 20px; display: inline-block; }
.paperarxiv::after {
    content: '\e974';
    font-family: Academicons;
    position: absolute;
    left: 0; /* Adjust as needed */
    top: 0;
}

.paperfigshare { position: relative; padding-left: 20px; display: inline-block; }
.paperfigshare::after {
    content: '\e981';
    font-family: Academicons;
    position: absolute;
    left: 0; /* Adjust as needed */
    top: 0;
}

.paperref { position: relative; padding-left: 20px; display: inline-block; }
.paperref::after {
    content: '\f0ac';
    font-family: FontAwesome;
    position: absolute;
    left: 0; /* Adjust as needed */
    top: 0;
}

.papercomment { display: inline-block; }

div.paperlinks { min-width: 100px; }
