[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
	branch = fix_md_inline
[submodule "bulrush"]
	path = bulrush
	url = ../bulrush/
	branch = my-styles
