beautifulsoup4==4.10.0
black==22.10.0
blinker==1.5
bs4==0.0.1
bulrush==0.5.2
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
cssmin==0.2.0
docutils==0.19
feedgenerator==2.0.0
flake8==5.0.4
ghp-import==2.1.0
invoke==1.7.3
Jinja2==3.1.2
livereload==2.6.3
Markdown==3.4.1
MarkupSafe==2.1.1
mccabe==0.7.0
mypy-extensions==0.4.3
pathspec==0.10.1
pelican==4.8.0
pelican-pagination==1.0.0
pelican-redirect==1.0.2
pelican-summary @ https://github.com/mirekdlugosz/pelican-plugins-summary/archive/refs/heads/migrate.tar.gz
pelican-webassets==2.0.0
pelican-yaml-metadata==2.0.0
pep562==1.1
platformdirs==2.5.2
pycodestyle==2.9.1
pyflakes==2.5.0
Pygments==2.13.0
pymdown-extensions==9.7
python-dateutil==2.8.2
pytz==2022.5
PyYAML==5.4.1
rich==12.6.0
six==1.16.0
smartypants==2.0.1
soupsieve==2.3.2.post1
tomli==2.0.1
tornado==6.2
typing_extensions==4.4.0
typogrify==2.0.7
Unidecode==1.3.6
webassets==2.0
