/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #f0efe7;
  font-family: Oxygen, "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: small;
  /*text-align: center;*/
}

h1 {
  font-size: 150%;
  margin-bottom: 1em;
}

h2 {
    font-size: 135%;
    margin-bottom: 1.1em;
	margin-top: 1.1em;
	font-variant: small-caps;
	font-family: Raleway, sans-serif;
}

h3 {
    font-size: 110%;
    margin-bottom: 0.75em;
	font-variant: small-caps;
	font-family: Raleway, sans-serif;
}

h4, h5, h6 {
  font-size: 100%; }

p { margin: 1em 0; }
/*
a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }*/

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin: 0em;
}

ul.posts li {
  line-height: 1.25em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 85%;
}

ul.posts a.posttitle {
    font-size: 125%;
}

ul.posts a.category {
    color: #aaa;
    text-decoration: none;
}

ul.posts a.category:hover  {
    text-decoration: underline;
}

ul.posts p {
    margin: 0 0 2em 0;
}

/*****************************************************************************/
/*
/* Publications
/*
/*****************************************************************************/

.work h3 {
	font-size: 100%;
	line-height: 1.5em;
	position: absolute;
	width: 8em;
	max-width: 8em;
	margin-left: 0em;
	margin-top: 0;
}

.work p.paper {
    margin-left: 8em;
}

.work span.papertitle {
    font-size: 112%;
    font-family: "Roboto", "Times Roman", serif;
}

/*****************************************************************************/
/*
/* CV
/*
/*****************************************************************************/

.cv h2 {
    position: absolute;
    width: 8em;
    max-width: 8em;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
}

.cv p {
    margin-left: 9em;
}

.cv .footer p {
    margin-left: 0em;
}

.cv ul.duties {
    margin-left: 10em;
    margin-bottom: 1em;
}

.cv p.award {
    margin-left: 11em;
    text-indent: -2em;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

#site {
	max-width: 56em;
	margin: 1.5em auto 0 auto;
	line-height:1.5em;
    text-align: justify;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#page {
	background: white;
/*	background-image: url(grid.png); */
	padding: 1.5em 3em 1.5em 3em;
}

.extra {
	font-family: 'Raleway', sans-serif;
	font-variant: small-caps;
	font-size: 135%;
}

.navbar-brand {
  /*display: inline;*/
  font-family: "Marcellus SC", serif;
  font-variant: small-caps;
  font-size: 150%;
  /*text-align: left;*/
}

/*#site .meta {
  color: #aaa;
}*/

.footer {
  max-width:46em;
  margin: 0 auto 0 auto;
  text-align: left;
  font-size: 80%;
  color: #666;
  overflow: hidden;
}

.footer .contact {
  float: left;
}

.footer .social {
  float: right;
}

.footer .contact a {
  color: #8085C1;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0.4em;
  overflow: auto;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

kbd {
padding: 0.1em 0.6em;
border: 1px solid #ccc;
font-size: 11px;
font-family: Arial,Helvetica,sans-serif;
background-color: #f7f7f7;
color: #333;
-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
display: inline-block;
margin: 0 0.1em;
text-shadow: 0 1px 0 #fff;
line-height: 1.4;
white-space: nowrap;
}

.centerimg {
    text-align: center;
    width: 100%;
    max-width: 100%;
}
.navbar-default {
  background-color: #626262;
  border-color: #0a304e;
}
.navbar-default .navbar-brand {
  color: #e1e1e1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #c9c9c9;
}
.navbar-default .navbar-text {
  color: #e1e1e1;
}
.navbar-default .navbar-nav > li > a {
  color: #e1e1e1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #c9c9c9;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #626262;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #e1e1e1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #c9c9c9;
  background-color: #0a304e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #0a304e;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #c9c9c9;
  background-color: #0a304e;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #c9c9c9;
  background-color: #0a304e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #c9c9c9;
  background-color: #0a304e;
}
.navbar-default .navbar-toggle {
  border-color: #0a304e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0a304e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e1e1e1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e1e1e1;
}
.navbar-default .navbar-link {
  color: #e1e1e1;
}
.navbar-default .navbar-link:hover {
  color: #c9c9c9;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e1e1e1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c9c9c9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c9c9c9;
    background-color: #0a304e;
  }
}
